footer {
    max-width: 1440px;
    height: auto;
    margin: auto;
    background: var(--primary-color);
    align-items: center;
    display: flex;
    padding: 20px 0;
    position: sticky;
    top: 100%;
}

footer p {
    color: white;
}

.footer-containter {
    max-width: 1220px;
    margin: auto;
}

footer .credit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


footer .logoname {
    height: 140px;
    padding-bottom: 20px;
}

footer .flag {
    height: 40px;
}

@media (max-width: 1366px) {
    .footer-containter {
        max-width: 1000px;
    }
    
    footer .logoname {
        height: 120px;
        padding-bottom: 20px;
    }
    
    footer .flag {
        height: 40px;
    }
}

@media (max-width: 1024px) {
    .footer-containter {
        max-width: 900px;
    }
    
    footer .logoname {
        height: 100px;
        padding-bottom: 20px;
    }
    
    footer .flag {
        height: 30px;
    }

    footer p {
        font-size: .9em;
    }
}

@media (max-width: 912px) {
    footer {
        height: 260px;
    }
    .footer-containter {
        max-width: 800px;
    }
    
    footer .logoname {
        height: 100px;
        padding-bottom: 20px;
    }
    
    footer .flag {
        height: 30px;
    }

    footer p {
        font-size: .9em;
    }
}

@media (max-width: 780px) {
    footer {
        height: 260px;
    }
    .footer-containter {
        max-width: 750px;
    }
    
    footer .logoname {
        height: 80px;
        padding-bottom: 20px;
    }
    
    footer .flag {
        height: 25px;
    }

    footer p {
        font-size: .8em;
    }
}

@media (max-width: 540px) {
    footer {
        height: 200px;
        padding: 10px 0;
    }

    .footer-containter {
        max-width: 500px;
    }
    
    footer .logoname {
        height: 80px;
        padding-bottom: 20px;
    }
    
    footer .flag {
        height: 25px;
    }

    footer p {
        font-size: .6em;
    }
}

@media (max-width: 414px) {
    footer {
        height: 200px;
    }
    .footer-containter {
        max-width: 350px;
    }
    
    footer .logoname {
        height: 60px;
        padding-bottom: 10px;
    }
    
    footer .flag {
        height: 20px;
    }

    footer p {
        font-size: .5em;
    }
}